---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":"1000","card_number":"4242424242424242","cvv":"123","expiration_month":"09","expiration_year":"2024","zip_code":"10045"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=b77bd5473370948c5ae31d8598a5d1
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"71bbac20b3d7f6e2ea0da21cefdbccab"
    body:
      encoding: UTF-8
      string: '{"token":"f5a7d9f9fa348b50e12e427b5d3ab3","success":true,"error_code":null}'
  recorded_at: Mon, 29 Nov 2021 09:59:32 GMT
recorded_with: VCR 6.0.0
