---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":"-1000","card_number":"4242424242424242","cvv":"123","expiration_month":"09","expiration_year":"2024","zip_code":"10045"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=b77bd5473370948c5ae31d8598a5d1
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":null,"success":false,"error_code":1000006}'
  recorded_at: Sun, 28 Nov 2021 13:48:06 GMT
recorded_with: VCR 6.0.0
