---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"token":"99c92b7fd6285a1a55786eca22657c","amount":"1000"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=b77bd5473370948c5ae31d8598a5d1
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1b3a650e88fdee949fb479674146989d"
    body:
      encoding: UTF-8
      string: '{"token":"99c92b7fd6285a1a55786eca22657c","success":true,"error_code":null}'
  recorded_at: Sun, 28 Nov 2021 13:48:08 GMT
recorded_with: VCR 6.0.0
